#head{
    list-style: none;
    text-decoration: none;
     display: flex;
    align-items: center;
}
body{
    background-color: none;
}
.main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Bio{
    margin: 0 80px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;

}
